.theme-toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--text-color);
  transition: color 0.3s ease;

  &:hover {
    color: var(--footer-link-hover-color);
  }

  /* Zoom effect on the icon */
  i {
    transition: transform 0.3s ease; /* Smooth transition */
  }

  i:hover {
    transform: scale(1.15); /* Zoom in on hover */
  }
}

/* Specific color for sun icon */
.sun-icon {
  color: #FFD700; /* Yellow color for sun icon */
}
