/* Styles for Theme Toggle Button */
.theme-toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--text-color);
  transition: color 0.3s ease;

  &:hover {
    color: var(--footer-link-hover-color);
  }

  /* Zoom effect on the icon */
  i {
    transition: transform 0.3s ease;
  }

  i:hover {
    transform: scale(1.15);
  }
}

.fa-moon {
  color: darkgray;
}

/* Specific color for sun icon */
.sun-icon {
  color: #FFD700; /* Yellow color for sun icon */
}

/* Google Translate widget alignment */
#google_translate_element {
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding: 0 5px;
}


/* Optional: Adjust the font size of the translation dropdown */
.goog-te-combo {
  font-size: 0.9rem;
  padding: 2px 8px;
  border-radius: 4px;
}

.navbar-logo {
  height: 40px; /* Adjust to your preferred height */
  width: auto; /* Maintain the aspect ratio */
  max-width: 100%; /* Make it responsive */
  display: block; /* Ensures no inline spacing issues */
}





