:host ::ng-deep ng-lottie {
  display: flex;
  justify-content: center;
  align-items: center;

  /* Default aspect ratio */
  aspect-ratio: 1;

  /* Responsiveness */
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  @media (max-width: 768px) {
    max-width: 300px;
  }
}
