<div class="app-background">
  <app-navbar></app-navbar>
  <!-- Google Translate widget placeholder -->
  <div class="content">
    <!-- Lottie Animation -->

    <custom-lottie [options]="lottieOptions"></custom-lottie>

    <router-outlet></router-outlet>
    <div class="test-links">
      <p>Check out these links to test standalone link styling:</p>
      <a href="#">Standalone Link 1</a><br>
      <a href="#">Standalone Link 2</a><br>
      <a href="#">Standalone Link 3</a>
    </div>
  </div>
  <app-footer></app-footer>
</div>
