/* Global styles */
@use 'themes.scss';
@use 'assets/styles/animations/index';

/* Layout settings */
html, body {
  height: 100%; /* Ensure the root container spans the viewport */
  margin: 0; /* Remove default margin */
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
color: var(--text-color);
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* App container spans the entire viewport height */
}

/* Ensure router-outlet grows to fill available space */
router-outlet {
  flex: 1; /* Allows dynamic content to grow or shrink */
}

.navbar {
  width: 100%; /* Full-width navbar */
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1030; /* Ensure it's above other content */
}

/* Global footer styles */
footer {
  text-align: center; /* Center footer text */
  background-color: #f8f9fa; /* Light gray background */
  padding: 10px 0;
  width: 100%; /* Ensure footer spans the full width */
  margin-top: auto; /* Push footer to the bottom */
}
