
.light-speed-animation {
  animation: lightSpeedIn 1.5s ease-in;
}

@keyframes lightSpeedIn {
  from {
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }
  to {
    transform: translateX(0) skewX(0);
    opacity: 1;
  }
}
